# Required
SESSION_ID=your-session-id-from-kord.live/session
OWNER_NUMBER=234XXXXXXXXXX
OWNER_NAME=YourName
BOT_NAME=Kord
PREFIX=[.]
WORKTYPE=private
TIMEZONE=Africa/Lagos
RENDER_API_KEY=your-render-api-key
MONGODB_URI=

# Bot Settings
SUDO=false
MODS=false
LANG_CODE=en
WARNCOUNT=4

# Media
CAPTION=© Kord-Ai
STICKER_PACKNAME=Kord
STICKER_AUTHOR=🤍
AUDIO_DATA=Kord;🤍

# Features
STATUS_VIEW=false
LIKE_STATUS=false
ALWAYS_ONLINE=false
STARTUP_MSG=on
SAVE_STATUS=false
SAVE_CMD=📥
VV_CMD=👀
REJECT_CALL=off
CMD_REACT=off
READ_MESSAGE=false
KICK_AND_BLOCK=false
RES_TYPE=text
ANTI_EDIT=off
ANTI_EDIT_IN_CHAT=off
ANTIDELETE=on
ANTIDELETE_INCHAT=off
LOG_MESSAGES=off
STATUS_EMOJI=🥏
ERROR_MSG=true
BOT_PRESENCE=available
REACT=false
MENU_IMAGE=

# API Keys
ELEVENLABS_APIKEY=
ACRCLOUD_KEY=
ACRCLOUD_SECRET=
